header {
	background-color: #1C758A;
	color: white;
}

header h1 {
	color: white;
	border-bottom: 1px solid white;
}

header h2 {
	color: white;
}

header h2 small {
	color: white;
	font-weight: normal;
}

/* drop cap */
p:first-child:first-letter {
	color: #1C758A;
}